{:linters {:claypoole {:level :warning}}
 :hooks   {:analyze-call {com.climate.claypoole/future             clj-kondo.claypoole/future
                          com.climate.claypoole/completable-future clj-kondo.claypoole/completable-future
                          com.climate.claypoole/pdoseq             clj-kondo.claypoole/pdoseq
                          com.climate.claypoole/pmap               clj-kondo.claypoole/pmap
                          com.climate.claypoole/pvalues            clj-kondo.claypoole/pvalues
                          com.climate.claypoole/upvalues           clj-kondo.claypoole/upvalues
                          com.climate.claypoole/pfor               clj-kondo.claypoole/pfor
                          com.climate.claypoole/upfor              clj-kondo.claypoole/upfor}}}
